<% include ./partials/header %>

<main style="margin-top: 100px">
<% include ./code/multi-direction %>
<pre id="html" class="layui-code" lay-encode="true" lay-skin="notepad">
<% include ./code/multi-direction %>      
</pre>
<pre id="js" class="layui-code" lay-encode="true" lay-skin="notepad">
layui.use(['dropdown'], function (dropdown) {
  var i = 1; len = 4;
  while(i <= len) {
    dropdown.render('#example' + i); // 注意页面上的`data-placement`
    i++;
  }
})
</pre>
</main>

<script src="https://www.layuicdn.com/layui/layui.js"></script>
<script>
  layui.config({
    base: './'
  }).extend({
    dropdown: 'dropdown'
  }).use(['jquery', 'dropdown', 'code'], function ($, dropdown, code) {
    code({elem: '#html', title: 'Html', about: false});
    code({elem: '#js', title: 'JavaScript', about: false});

    var i = 1; len = 4;
    while(i <= len) {
      dropdown.render({
        dropdown: '#example' + i,
        trigger: 'hover'
      });
      i++;
    }
  })
</script>
<% include ./partials/footer %>