<% include ./partials/header %>

<main>
<% include ./code/simple %>
<pre id="html" class="layui-code" lay-encode="true" lay-skin="notepad">
<% include ./code/simple %>    
</pre>
<pre id="js" class="layui-code" lay-encode="true" lay-skin="notepad">
layui.use(['dropdown'], function (dropdown) {
  dropdown.render() // 当前页面如果只存在一个，可以不用传入参数
})   
</pre>
</main>

<script src="https://www.layuicdn.com/layui/layui.js"></script>
<script>
  layui.config({
    base: './'
  }).extend({
    dropdown: 'dropdown'
  }).use(['jquery', 'dropdown', 'code'], function ($, dropdown, code) {
    dropdown.render()
    code({elem: '#html', title: 'Html', about: false})
    code({elem: '#js', title: 'JavaScript', about: false})
  })
</script>
<% include ./partials/footer %>