<div class="layui-unselect layui-form-select" id="scene-treeselect">
  <div class="layui-select-title">
    <input type="text" placeholder="请选择" readonly class="layui-input layui-unselect">
    <i class="layui-edge"></i>
  </div>
  <dl class="layui-anim layui-anim-upbit" data-role="menu">
    <div id="scene-treeselect-tree" class="demo-tree-more"></div>
  </dl>
</div>