<!-- 因为已经存在 layui.select 组件，除非你需要定制化一些，请不要重复造轮子 -->
<!-- 加入一点离开的动画 -->
<div class="layui-unselect layui-form-select" id="scene-select">
  <div class="layui-select-title">
    <input type="text" placeholder="请选择" readonly class="layui-input layui-unselect">
    <i class="layui-edge"></i>
  </div>
  <dl class="layui-anim layui-anim-upbit" data-role="menu">
    <dd lay-value="" class="layui-select-tips layui-this">请选择</dd>
    <dd lay-value="0" class="">北京</dd>
    <dd lay-value="1" class="">上海</dd>
    <dd lay-value="2" class="">广州</dd>
    <dd lay-value="3" class="">深圳</dd>
    <dd lay-value="4" class="">杭州</dd>
  </dl>
</div>