<!-- 一个容器 -->
<div class="layui-dropdown" id="example1">
  <!-- 触发器 -->
  <button class="layui-btn layui-dropdown-toggle">
    default
    <i class="layui-icon layui-icon-triangle-d"></i>
  </button>
  <!-- 下拉框 -->
  <div class="layui-dropdown-menu">
    <div style="width: 240px; height: 120px; background: pink;">
      任意内容
    </div>
  </div>
</div>
